name: QA Checks

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    container:
      image: jakzal/phpqa:php8.4
    steps:
      - uses: actions/checkout@v4

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: vendor/
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse --memory-limit=1G --error-format=github

  php-cs-fixer:
    name: PHP-CS-Fixer
    runs-on: ubuntu-latest
    container:
      image: jakzal/phpqa:php8.4
    steps:
      - uses: actions/checkout@v4

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: vendor/
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      - name: Run PHP-CS-Fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff --verbose --ansi

  security-checker:
    name: Security Checker
    runs-on: ubuntu-latest
    container:
      image: jakzal/phpqa:php8.4
    steps:
      - uses: actions/checkout@v4

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: vendor/
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      - name: Run Composer audit
        run: composer audit

  phpcpd:
    name: PHPCPD
    runs-on: ubuntu-latest
    container:
      image: jakzal/phpqa:php8.4
    steps:
      - uses: actions/checkout@v4

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: vendor/
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-progress --prefer-dist

      - name: Run PHPCPD
        run: vendor/bin/phpcpd src --verbose